#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.base-Popper-root.MuiAutocomplete-popper.css-1s5lphu-MuiPopper-root-MuiAutocomplete-popper {
  z-index: 999999;
}
