@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  width: 100%;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
